<figure class="clue">
  <div class="clue-inner" style={{clueStyle}}>
    {{#if isYoutubeVideo}}
      {{youtube-player embed=clue.embed onPlay=(action (mut videoHasPlayed)) mediaWidth=maxWidth mediaHeight=maxHeight}}
    {{else if isProvidedImage}}
      {{image-tag src=clue.imageUrl width=maxWidth height=maxHeight}}
    {{else if isLinkedImage}}
      {{image-tag src=clue.imageUrl width=maxWidth height=maxHeight onLoad=(action 'reportNaturalDimensions')}}
    {{else if isLinkedVideoGif}}
      {{video-tag videoUrl=(video-url clue.imageUrl) posterUrl=(poster-url clue.imageUrl) clueStyle=cluseStyle onLoad=(action 'reportNaturalDimensions')}}
    {{/if}}
  </div>
  {{#if isReady}}
    <figcaption>
      {{{prismic-html clueText}}}
    </figcaption>
  {{/if}}
</figure>
