<figure class="clue">
  {{#if (eq clue.mediaType 'video') }}
    <div class="clue-inner" style={{clueStyle}}>
      {{video-player embed=clue.embed onPlay=(action (mut videoHasPlayed)) mediaWidth=maxWidth mediaHeight=maxHeight}}
    </div>
  {{else if (eq clue.mediaType 'image')}}
    <div class="clue-inner" style="{{clueStyle}}">
      {{image-tag src=clue.imageUrl width=maxWidth height=maxHeight onLoad=(action 'reportNaturalDimensions')}}
    </div>
  {{!-- {{else if (eq clue.mediaType 'embed')}}
    <div class="clue-inner" style="{{clueStyle}}">
      {{{clue.embed.html}}}
    </div> --}}
  {{/if}}
  <figcaption>
    {{#if ready}}
      {{prismic-html clue.text}}
    {{/if}}
  </figcaption>
</figure>
