<figure class="clue">
  <div class="clue-inner" style={{clueStyle}}>
    {{#if (eq clue.mediaType 'video') }}
      {{video-player embed=clue.embed onPlay=(action (mut videoHasPlayed)) mediaWidth=maxWidth mediaHeight=maxHeight}}
    {{else}}
      <img src="{{clue.image.url}}" width="{{maxWidth}}" height="{{maxHeight}}">
    {{/if}}
  </div>
  <figcaption>
    {{#if ready}}
    {{prismic-html clue.text}}
    {{/if}}
  </figcaption>
</figure>
