<div class="flex-container {{if isFluid 'is-fluid'}} {{if isLandscape 'is-landscape'}}">
  <div class="flex-header">
    <h1 class="headline-text">Who is Ted Cruz?</h1>
    <!-- Besides an idiot, we mean -->
    <h2 class="subhead-text">Here's a clue:</h2>
    <!-- If you needed any more -->
  </div>

  {{#if isLoading}}
    {{loading-spinner}}
  {{else}}
    {{outlet}}
  {{/if}}

  <div class="flex-action">
    {{#if onLastClue}}
      {{#link-to 'solve' class="next-clue"}}
        Solve The Mystery
      {{/link-to}}
      {{#link-to 'random'}}Research Clues Again{{/link-to}}
    {{else}}
      {{#link-to 'random' class="next-clue" disabled=isLoading}}Next Clue{{/link-to}}
    {{/if}}
  </div>
  {{site-footer class="flex-footer"}}
</div>
